body{
    padding: 0px;
    margin: 0px;
    background: #fafafa;
}

@font-face {
    font-family: "Manrope-Bold";
    src: url("../fonts/Manrope-Bold.ttf");
}
  
@font-face {
    font-family: "Manrope-Light";
    src: url("../fonts/Manrope-Light.ttf");
}

.main{
    height: auto;
    width: 100%;
    padding-top: 50px;
}

.red{
    color: #d95071 !important;
}

h1{
    font-size: 32px;
    text-align: center;
    font-family: 'Manrope-Bold';
    margin-bottom: 40px;
    margin-top: 40px;
    color: #141414;

    @media screen and (max-width: 700px) {
        font-size: 24px;
    }
}

.information-card{
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 60%;
    max-width: 650px;
    background: #ffffff;
    margin: auto auto;
    box-shadow: 0 0 3px #d3d3d3;
    border-radius: 4px;
    margin-bottom: 30px;

    @media screen and (max-width: 700px) {
        height: 30px;
    }

    .heading{
        float: left;   
        width: auto;
        color: #989898;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        max-width: 70%;
        overflow: hidden;
        font-family: 'Manrope-Light';

        @media screen and (max-width: 700px) {
            height: 30px;
            line-height: 30px;
            font-size: 12px;
        }

    }

    .numbers{
        float: right;
        width: auto;
        color: #00d2d2;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
        max-width: 25%;
        overflow: hidden;
        font-family: 'Manrope-Bold';

        @media screen and (max-width: 700px) {
            height: 30px;
            line-height: 30px;
            font-size: 18px;
        }
    }
}

input:focus{
    outline: none;
}

input{
    font-size: 18px;
    font-family: 'Manrope-Light';
    border-radius: 4px;
    background: transparent;
    border: 1px solid #00d2d2;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    max-width: 650px;
    display: block;
    margin:auto auto;
    text-align: center;
}

.popup{
    position: fixed;
    top: 100vh;
    left: 50%;
    height: 54px;
    width: 90%;
    max-width: 650px;
    transform: translateY(0%) translateX(-50%);
    opacity: 0;
    border-radius: 4px;
    box-shadow: 0 0 4px #d3d3d3;
    transition: all .4s ease;
    color: #ffffff;
    text-align: center;
    line-height: 54px;
    font-size: 12px;
    font-family: 'Manrope-Bold';
}

.error{
    transform: translateY(-200%) translateX(-50%);
    opacity: 1;
    background: #FF5151;
}

.success{
    transform: translateY(-200%) translateX(-50%);
    opacity: 1;
    background: #00D290;
}

button{
    border: none;
    height: 44px;
    width: 220px;
    display: block;
    margin:auto auto;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 4px;
    box-shadow: 0 0 4px #d3d3d3;
    background-color: #00d2d2;
    color: #ffffff;
    cursor: pointer;

    @media screen and (max-width: 900px) {
        font-size: 16px;
    }

}

.text-field-false{
    border: 1px solid #FF5151;
}

#reports{
    cursor: pointer;
}

.requests-modal{
    height: auto;
    max-height: 80vh;
    overflow: scroll;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 650px;
    box-shadow: 0 0 4px #d3d3d3;
    background: #fafafa;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-45%);
    border-radius: 4px;
    animation: modalAni .5s ease forwards;
    opacity: 0;
    z-index: 99;
}

#requests-modal{
    display: none;
}

@keyframes modalAni{
    0%{
        transform: translate(-50%,-45%);
        opacity: 0;
    }

    100%{
        transform: translate(-50%,-50%);
        opacity: 1;
    }
}

.request-card{
    width: 80%;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #ffffff;
    box-shadow: 0 0 4px #d3d3d3;
    display: block;
    margin: auto auto;
    border-radius: 4px;
    font-family: 'Manrope-Light';
    margin-top: 15px;
    margin-bottom: 15px;

    .item{
        font-size: 18px;
    }

    b{
        font-family: 'Manrope-Bold';
    }

    .item-description{
        font-size: 15px;
    }

    .posting-date{
        font-size: 12px;
        color: #989898;
    }

}

#tint{
    height: 100vh;
    width: 100vw;
    background: #fafafa;
    opacity: 0.95;
    z-index: 9;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}